body {background-color: white;}

nav li {
	display: inline-block;
	margin-right: 40px;
	margin-top: 40px;
	color: #143a4c;
  font-size: 15px;
}

a {color: #143a4c;
   text-decoration: none;}

a:visited {color: #143a4c;
           text-decoration: none;}

a:hover {color: #cda7a4;
         text-decoration: none;
}

header { 
	display: grid;
	grid-template-columns: 30% 20% 50%;}

ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 5px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #f8e4d7;
  font-size: 23px;
  padding-top: 15px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #112938;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  color: #cda7a4;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding-top: 45px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #cda7a4;
  text-align: center;
  font-size: 20px;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #f8e4d7;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cream {height: 100px;width:100%;
		background-color: #f8e4d7;}

.hdashed {border-top:5px dashed #143a4c;
		 margin-top: 50px;
		 width: 50%;
}

.master-grid { 
	display: grid; 
	grid-template-columns: 50% 50%;
	min-height: 400px;
}

.home {font-family: linotype-didot-headline, serif;
       font-weight: 400;
       font-style: normal;
	   font-size: 45px;
	   color: #143a4c;
	   margin-top: 30px;
	   margin-left: 10px;}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 0px;
	padding: 20px 60px;
}

.grid-container ul { 
	margin-left: 20px; 
	margin-top: 50px;
}

.london-bg {background-color: #7687a5;
		margin-top: 20px;
		margin-bottom: 15px;
}

.windsor-bg {background-color: #87a3cc;
		margin-top: 20px;
		margin-bottom: 15px;
}

.amsterdam-bg {background-color: #9f7782;
			   margin-top: 20px;
			   margin-bottom: 15px;
}

.swiss-bg {background-color: #4d6d82;
		   margin-top: 20px;
		   margin-bottom: 15px;
}

.rome-bg {background-color: #d7ac9a;
		  margin-top: 20px;
	      margin-bottom: 15px;
}

.venice-bg {background-color: #b48979;
      margin-top: 20px;
        margin-bottom: 15px;
}

.vdashed {border-left: 6px dashed #143a4c;
		      margin-right: 100px;}

.photo {margin-top: 20px;
		margin-bottom:12px;
}

.photo img {width:100%; height: auto;}

img {opacity: 0.3;
     filter: alpha(opacity=50);
}

img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.plane-bg {height:100%;width:100%;
		   background-color: #cda7a4;
	       margin-bottom: 100px;
	       margin-top: -60px;
}

.plane-photo{
  background-image: url(../images/plane-white.png);
  width: 60%;
  background-size: cover; 
  margin: 80px auto;
  height: 80vh;
}
 
.daily-text {
  margin: 80px;
}

.daily-text h3 {
  margin: 3%;
  font-weight: bold;
  color: #143a4c;
  padding-top: 520px;
  font-size: 18px;
}
 
.daily-text p {
  margin: 2%;
  color: #cda7a4;
  font-size: 18px;}

.categories {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #f8e4d7;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}

.right-info {padding-top: 40px;}

.dash-break {border-top:6px dashed #143a4c;
     width: 100%; 
     margin-top: 20px;
     margin-bottom: 17px;
}