body {background-color: white;}

.cream {height: 100px;width:100%;
		background-color: #f8e4d7;}

.hdashed {border-top:5px dashed #325c78;
		 margin-top: 10px;
		 width: 40%;
}

nav li {
	display: inline-block;
	margin-right: 30px;
	margin-top: 5px;
}

a {text-decoration: none}

a:hover {color: #cda7a4;}

header{display: grid;
	   grid-template-columns: 30% 20% 50%
}

.plane{background-image: url(../images/plane.png);
       width: 60%;
       background-size:cover; 
       margin: 80px auto;
}

.vdashed {border-left: 6px dashed #325c78;
		  margin-right:10px;}

h1 {font-family: Didot}