body {background-color: white;}

.cream {height: 100px;width:100%;
		background-color: #f8e4d7;}

.hdashed {border-top:5px dashed #325c78;
		 margin-top: 50px;
		 width: 40%;
}

nav li {
	display: inline-block;
	margin-right: 40px;
	margin-top: 40px;
}

a {text-decoration: none}

a:hover {color: #cda7a4;}

header{display: grid;
	   grid-template-columns: 30% 20% 50%
}

.plane {background-image: url(../images/plane.png);
       width: 60%;
       background-size: cover; 
       margin: 80px auto;
       height: 80vh;
}

.vdashed {border-left: 6px dashed #325c78;
		  margin-right:20px;}

.home {font-family: Didot;
	   font-size: 40px;
	   font-weight: bold;
	   color: #143a4c;
	   margin-top: 30px;}

.uk {background-image: url(../images/london.png);
       width: 50%;
       background-size: cover; 
       margin: 80px auto;
       height: 70vh;}

.netherlands {background-image: url(../images/amsterdam.png);
       width: 50%;
       background-size: cover; 
       margin: 80px auto;
       height: 70vh;}

.switzerland {background-image: url(../images/lucerne.png);
       width: 50%;
       background-size: cover; 
       margin: 80px auto;
       height: 70vh;}

.italy {background-image: url(../images/rome.png);
       width: 50%;
       background-size: cover; 
       margin: 80px auto;
       height: 70vh;}


